h1 {
    background: red;
}

.paragraph-1 {
    background: blue;
    color: green;
    font-size: 32pt;
}
.paragraph-2 {
    border: 10px solid yellow;
    font-size: 24pt;
    border-radius: 5px;
    margin-bottom: 60px;
}

.paragraph-3{
    font-size: 24px;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px 1px green;
}